- name: Get AKS info
  delegate_to: localhost
  azure_rm_aks_info:
    name: "{{ azure_resource_group }}"
    resource_group: "{{ azure_resource_group }}"
  register: azure_aks_info

- set_fact:
    azure_node_resource_group: "{{ azure_aks_info.aks[0].node_resource_group }}"

- name: Deploy Traeffik
  kubernetes.core.helm:
    kubeconfig: "{{ k8s_admin_config_path }}"
    name: traefik
    chart_repo_url: https://traefik.github.io/charts
    chart_ref: traefik
    chart_version: "{{ traefik_chart_version }}"
    wait: true
    release_namespace: traefik
    create_namespace: true
    release_values:
      service:
        annotations:
          service.beta.kubernetes.io/azure-load-balancer-resource-group: "{{ azure_node_resource_group }}"
          service.beta.kubernetes.io/azure-pip-name: "{{ azure_resource_group }}"
          service.beta.kubernetes.io/azure-dns-label-name: "{{ azure_resource_group }}"
