- name: Create service account
  delegate_to: localhost
  k8s:
    kubeconfig: "{{ k8s_admin_config_path }}"
    state: present
    definition: "{{ lookup('ansible.builtin.template', item) }}"
    wait: true
    wait_timeout: 300
  with_items:
    - namespace.yml
    - service_account.yml
    - role.yml
    - role_binding.yml
    - secret.yml