- name: Create Azure Kubernetes Cluster
  hosts: azure
  vars_files:
    - ../vars/defaults.yaml
  roles:
    # - role: setup_cluster
    # - role: pull_kube_admin_config
    # - role: create_app_namespace
    # - role: pull_kube_user_config
    - role: deploy_ingress_controller
    